@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}
 
nav{
    font-weight: bold;
}

.main_academia{
    font-weight: bold;
    display: flex;

}
.main_academia h1{
    font-size: 30px;
    color: #f6fff8;

}
.main_academia p{
    margin: 10px 0 15px 0px;
    color: #bcb8b1;
    font-size: 16px;

}

.talign{
text-align: left;
right: 25%;
top: 20%;
}


.bc_carousel{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.692) , transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.bc_aquafisio{
    background: url(./imagens/aquafisio-logo.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.cont_info{
    width: 350px;
}

.main_image{
    width: 350px;
}

.main_image img{
    border-radius: 50%;
}

.fs{
    font-size: 28px;
}

.sec_modalidade{
    padding: 50px 0px 50px 0px;
    background-color: #f8f7ff;
}
.section_modalidades p{
    color: #023047;
}
aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: nowrap;
}

.section_modalidades p{
    font-weight: bold;
    font-size: 26px;

}
.ul_container{
    margin-right: 100px;

}
.ul_container ul li a{
    word-wrap: normal;
    text-decoration: none;
    color: #fb8500;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease;
    

}

.ul_container ul li a:hover{
    color: #fbb800;
}

.ul_container ul{
    margin-bottom: 5px;
}


.images_p{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.picgrid{
    margin-top: 15px;
}
.row>* {
    padding-top: calc(var(--bs-gutter-x)* .5);
}

.sec_contato {
    background-color: #3f403f;
    color: #fff;
    padding: 30px;
    font-size: 14px;
    
}
.acolor{
    color: #fff;
}
.contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-break: break-all;
    width: 350px;
    text-align: center;
}
a{
    text-decoration: none;
    transition: all 0.1s ease;
}
a:hover{
    color: #fbb800;
}
.aweight{
    font-weight: bold;
}
.linkcolor{
    color: #fb8500;
}
.aweight{
    color:#fb8500
}
.mapasite{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.gridcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copyright_sec{
    background-color: #22333b;
    color: #fff;
    padding: 30px;
    position: relative;
    border-top: 1px solid #a5a39f;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    color: #22333b;
}
.insta{
    width: 350px;
    height: 250px;
}
.inst{
    width: 100%;
    height: 100%;
}
.continsta{
    background-color: #f7f9f9;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    width: 100%;

}

.continsta a{
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    text-align: center;
}
svg {
    width: 35px;
    height: 35px;
}

.mapasite{
    width: 350px;
}

.backtop{
    background-color: #22333b;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    right: 60px;
    bottom: 60px;
    justify-content: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    border-radius: 0px 25px 0px 0px;
    border-right: 1px solid #a5a39f;
    border-top: 1px solid #a5a39f;
}


.backtop a{
    font-size: 30px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    font-weight: bold;
}
nav .justify-content-center{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.container-fluid{
    padding-right: 0;
    padding-left:0;
}
.navbarcont{
    border-bottom: 1px solid #bcb8b1;
}

.navbar{
    border-bottom: 1px solid #bcb8b1;
}

.navbar-toggler{
    display: none;
}
.navbar-collapse{
    flex-grow: inherit;
    flex-basis: inherit;
}
.collapse:not(.show){
    display: inherit;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    flex-wrap: unset;
}
.mod_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mod_container p {
    font-weight: bold;
}

.listacollapse{
    margin-top: 15px;
}

.btncolmob{
    display: none;
}
@media (max-width: 1140px) {

    .fs{
        font-size: 20px;
    }
    .main_buttons button{
        width: 80px;
        height: 30px;
    }
    

}

@media (max-width: 1200px){
    .navbar-toggler{
        display: inherit;
    }

    .collapse:not(.show){
        display: none;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        flex-wrap: wrap;
    }
    .navbar-collapse{
        flex-grow: 1;
        flex-basis: 100%;
    }
    nav .justify-content-center{
        flex-direction: column;
    }
    .btncolmob{
        display: unset;
    }
    .carousel-item{
        margin-top: 45px!important;
    }
}
@media (max-width: 767px) {
    .list-group-horizontal{
        flex-direction: column;
    }
    .hdbutton{
        display: none;
    }
    .contato{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mapasite{
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 735px){
    .mapasite{
        margin-top: 15px;
    }
    .carousel-item{
        margin-top: 45px!important;
    }
}
@media (max-width: 428px){
    .backtop{
        bottom: 85px;
    }
}
.lista {
    list-style-type: circle;
}
.lista a {
    color:#fb8500;
}
.lista a:hover{
    color: #fbb800;
}
.facebookiframe{
    width: 350px;
}
.carousel-item{
    margin-top: 55px;
}
.dropdown-item{
    border-top: 1px solid #e9e9e9
}

.aacademia{
    margin-top: 55px;
    padding: 30px;
}

.aacademia h1{
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fb8500;
}

.aacademia p{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    text-align: justify;
}

.accont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colop img{
    border: 1px solid #a5a39f;

}
.colop{
    display: flex;
    justify-content: center;
}


.coltextmap h2{
    font-size: 28px;
    font-weight: bold;
}
.coltextmap{
    display: flex;
    justify-content: center;
}

.coltextmap p{
    margin-top: 10px;
}

.clinicaaqua{
    margin: 30px 0 30px 0;
}

.beneficios h3{
    font-size: 20px;
    font-weight: bold;
}

.beneficios li{
    font-size: 16px;
    margin: 8px 0;
    text-align: justify;
}
.beneficios p{
    font-size: 15px;
    margin: 8px 0;
}
.pmusc{
    text-align: justify!important;
}

.navbar-toggler button{
    display: flex;
    justify-content: center;
}

.mapouter{
    border-left: .5px outset #bcb8b13f;
}

body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

body .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}